@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html {
    box-sizing: border-box;
}
body {
    min-height: 100vh;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
header {
    width: 100%;
    padding: 1.2rem 0;
    text-align: center;
    margin-bottom: 5rem;
}
.nav {
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    margin-bottom: 5rem;
}
.header-logo > img {
    width: 5rem;
}
.nav-links {
    display: flex;
    gap: 1.2rem;
    font-size: 0.8rem;
    font-weight: 400;
}

.header-info {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    max-width: 375px;
}
.img-1 {
    margin-bottom: 2.5rem;
}
.img-1> img {
    width: 80%;
}
.header-write-up > h1 {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0 1rem;
    line-height: 1.4;
    margin-bottom: 2.2rem;
}
.header-write-up > p {
    font-size: 0.9rem;
    padding: 0 1.7rem;
    line-height: 1.4;
    margin-bottom: 2.2rem;
}
.header-write-up > input {
    font-family: 'Raleway', sans-serif;
    display: block;
    width: 75%;
    margin-left: 10%;
    padding: 0.6rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    border: 1px solid black;
}
.header-write-up > button {
    font-family: 'Raleway', sans-serif;
    display: block;
    width: 80%;
    margin-left: 10%;
    padding: 0.6rem;
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 1rem;
}


.container {
    width: 100%;
    text-align: center;
}
.container > img {
    display: block;
}
.part-1 {
    background-color:  hsl(240, 75%, 98%);
    max-width: 375px;
    padding: 2.2rem 1.2rem;
}
.img-2 {
    margin-bottom: 5rem;
}
.img-2 > img {
    width: 94%;
}
#part-1 > h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
.line-1, .line-2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    font-size: 400;
    text-align: left;
    line-height: 1.4;
}
.line-1 {
    margin-bottom: 1rem;
}
.see-how {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    text-decoration: underline;
}
.link {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    text-align: center;
    /* text-decoration: underline; */
}
article {
    background-color: white;
    text-align: left;
    margin: 0 1.8rem;
    padding: 1.5rem 0.8rem 1.5rem 1.5rem ;
}
blockquote {
    font-family: 'Raleway', sans-serif;
    font-size: 0.68rem;
    line-height: 1.7;
    margin-bottom: 1rem;
}
article > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.avatar-img > img {
    width: 1.5rem;
    border-radius: 50%;
}
h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 0.6rem;
    margin-bottom: 0.3rem;
}
h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.45rem;
}