@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

   /* My Code */
html {
    box-sizing: border-box;
}
body {
    min-height: 100vh;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
header {
    width: 100%;
    padding: 1.2rem 0;
    text-align: center;
    margin-bottom: 5rem;
}
.nav {
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 2rem;
    margin-bottom: 5rem;
}
.header-logo > img {
    width: 5rem;
}
.nav-links {
    display: flex;
    padding-top: 0.25rem;
    gap: 1.2rem;
    font-size: 0.8rem;
    font-weight: 400;
    color: hsl(243, 87%, 12%);
}
.nav-links > li:hover {
    cursor: pointer;
    opacity: 0.85;
}

.header-info {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    /* max-width: 375px; */
}
.img-1 {
    margin-bottom: 2.5rem;
}
.img-1> img {
    width: 80%;
}
.header-write-up > h1 {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0 1rem;
    line-height: 1.4;
    margin-bottom: 2.2rem;
    color: hsl(243, 87%, 12%);
}
.header-write-up > p {
    font-size: 0.9rem;
    padding: 0 1.7rem;
    line-height: 1.4;
    margin-bottom: 2.2rem;
    color: hsl(243, 87%, 12%);
}
.header-write-up > input {
    font-family: 'Raleway', sans-serif;
    display: block;
    width: 75%;
    margin-left: 10%;
    padding: 0.6rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    border: 1px solid hsla(243, 87%, 12%, 0.6);
    box-shadow: 2px 4px 15px -9px rgb(0 0 0 / 15%);
}
::placeholder {
    color: hsl(0, 0%, 75%);
}
.header-write-up > button {
    font-family: 'Raleway', sans-serif;
    display: block;
    width: 80%;
    margin-left: 10%;
    padding: 0.65rem;
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 1rem;
    background-color: hsl(224, 93%, 58%);
    color: white;
    box-shadow: 2px 4px 17px 2px rgb(0 0 0 / 15%);
}
.header-write-up > button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.container {
    width: 100%;
    text-align: center;
}
.mobile-curve {
    display: block;
    width: 100%;
}
.part-1 {
    background-color:  hsl(240, 75%, 98%);
    /* max-width: 375px; */
    padding: 2.2rem 1.2rem 5rem;
}
.img-2 {
    margin-bottom: 5rem;
}
.img-2 > img {
    width: 94%;
}
#part-1 > h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: hsl(243, 87%, 12%);
}
.line-1, .line-2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    font-size: 400;
    text-align: left;
    line-height: 1.4;
    color: hsla(243, 87%, 12%, 0.9);
}
.line-1 {
    margin-bottom: 1rem;
}
.see-how {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    text-decoration: underline;
    text-decoration-color: #3DA08F;
    text-underline-offset: 0.5rem;
    /* border-bottom: 1px solid #3DA08F; */
}
.link {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    text-align: center;
    /* text-decoration: line-through; */
    color: #3DA08F;
    /* border-bottom: 1px solid #3DA08F; */
}
.link:hover {
    cursor: pointer;
}
article {
    background-color: white;
    text-align: left;
    margin: 0 1.8rem;
    padding: 1.5rem 0.8rem 1.5rem 1.5rem ;
    border-radius: 4px;
    box-shadow: 2px 4px 17px 1px rgb(0 0 0 / 15%);
}
blockquote {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.68rem;
    line-height: 1.7;
    margin-bottom: 1rem;
    color: hsl(243, 87%, 12%);
}
article > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.avatar-img > img {
    width: 1.5rem;
    border-radius: 50%;
}
h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 0.6rem;
    margin-bottom: 0.3rem;
    color: hsl(243, 87%, 12%);
}
h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.45rem;
    color: hsl(243, 87%, 12%);
}

.part-2 {
    background-color:  hsl(238, 22%, 44%);
    padding: 3.5rem 2.8rem 4.5rem 1.8rem;
}
.part-2 > section > h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: white;
}
.part-2 > section > p {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.95rem;
    line-height: 1.4;
    margin-bottom: 1.5rem;
    color: white;
}
.sign-up > input {
    font-family: 'Raleway', sans-serif;
    display: block;
    width: 75%;
    margin-left: 10%;
    padding: 0.7rem;
    border: none;
    border-radius: 3px;
    margin-bottom: 0.6rem;
    box-shadow: 2px 4px 17px 1px rgb(0 0 0 / 15%);
}
.sign-up > button {
    font-family: 'Raleway', sans-serif;
    display: block;
    border: none;
    padding: 0.7rem;
    border-radius: 3px;
    margin-left: 10%;
    width: 83%;
    font-size: 0.7rem;
    font-weight: 700;
    background-color: hsl(224, 93%, 58%);
    color: white;
    box-shadow: 2px 5px 17px 3px rgb(0 0 0 / 15%);
}
.sign-up > button:hover {
    cursor: pointer;
    filter: brightness(120%);
}
footer {
    background-color: hsl(243, 87%, 12%);
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    color: white;
    padding: 4rem 0;
}
.footer-logo > img {
    margin-left: 2rem;
    margin-bottom: 2rem;
}
.details {
    margin-left: 2rem;
    margin-bottom: 4rem;
}
.phone {
    display: flex;
    gap: 1.1rem;
    align-items: center;
    margin-bottom: 1rem;
}
.email {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.list-1 {
    margin-left: 2rem;
    margin-bottom: 4rem;
}
.list-2 {
    margin-left: 2rem;
    margin-bottom: 4rem;
}
.list-1 > li, .list-2 > li {
    margin-bottom: 1.5rem;
}
.list-1 > li:hover, .list-2 > li:hover {
    cursor: pointer;
    color: hsl(224, 93%, 58%);
}
.icons {
    text-align: center;
}
.icons > i {
    border: 1px solid white;
    border-radius: 50%;
    margin: 0 0.3rem 0;
}
.icons > i:hover {
    cursor: pointer;
    color: hsl(224, 93%, 58%);
    border-color: hsl(224, 93%, 58%);
}
#fb {padding: 0.4rem 0.6rem;}
#tweet {padding: 0.4rem 0.42rem;}
#ig {padding: 0.4rem 0.47rem;}

@media screen and (max-width: 425px) {
    .desktop-curve {
        display: none;
    }
}

@media screen and (min-width: 426px) {
    .mobile-curve {
        display: none;
    }
    .desktop-curve {
        width: 100%;
        display: block;
    }
}

@media screen and (min-width: 426px) and (max-width: 545px) {
    .header-logo > img {
        width: 6rem;
    }
    .header-write-up > h1 {
        font-size: 1.8rem;
    }
    .header-write-up > p {
        font-size: 1.1rem;
    }
    .header-write-up > button {
        width: 50%;
        margin-left: 25%;
    }
    #part-1 > h2 {
        font-size: 1.4rem;
    }
    article {
        margin: 0 15% 0;
    }
    .part-2 > section > h2 {
        font-size: 1.5rem;
    }
    .sign-up > button {
        width: 50%;
        margin-left: 25%;
    }
    .list-1, .list-2 {
        display: inline-block;
        width: 40%;
    }
    .list-2 {
        align-items: flex-start;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .part-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 0;
        padding-left: 4rem;
    }
    #part-1 {text-align: left;}
    #part-1 > h2 {font-size: 1.7rem;}
    .img-2 {order: 2; margin: 0;}
    .img-2 > img {
        width: 90%;
    }
    .line-1, .line-2 {
        font-size: 0.8rem;
        margin-right: 5rem;
    }
    .see-how {
        margin-top: 1rem;
        justify-content: flex-start;
    }
    .link {
        text-align: left;
        font-size: 1rem;
    }
    article {
        margin: 0 30% 0 0; 
    }
    blockquote {
        font-size: 0.75rem;
        margin-right: 1rem;
    }
    .avatar-img > img {
        width: 2rem;
    }
    h3 {font-size: 0.7rem;}
    h4 {font-size: 0.5rem;}
    .part-2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        text-align: left;
        padding: 6rem 4rem 3rem;
    }
    .part-2 > section > h2 {
        font-size: 2.2rem;
    }
    .part-2 > section > p {
        font-size: 1.15rem;
        margin-right: 3.7rem;
    }
    .sign-up > input {
        padding: 1.1rem;
        margin-bottom: 1.2rem;
        margin-left: 8rem;
        width: 3rem; /**/
    }
    .sign-up > button {
        padding: 1.1rem;
        margin-left: 8rem;
        width: 13.5rem;
        font-size: 0.85rem;
    }
}




@media screen and (min-width: 1025px) {
    br {
        display: none;
    }
    header {
        padding-top: 1.5rem;
    }
    .nav {
        padding: 0 3.5rem;
    }
    .header-logo > img {
        width: 10rem;
    }
    .nav-links {
        font-size: 1.2rem;
        gap: 2.5rem;
        padding-top: 0.8rem;
    }
    .header-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 0;
    }
    .img-1 {
        order: 2;
        margin: 0;
    }
    .img-1 > img {
        width: 85%;
    }
    .header-write-up {
        padding-left: 3.5rem;
        text-align: left;
    }
    .header-write-up > h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        padding: 0;
    }
    .header-write-up > p {
        font-size: 1.2rem;
        padding: 0 1rem 0 0;
        margin-bottom: 1.2rem;
    }
    .header-write-up > input {
        margin-left: 0;
        display: inline-block;
        width: 20rem;
        margin-right: 0.6rem;
    }
    .header-write-up > button {
        margin-left: 0;
        display: inline-block;
        width: 13rem;
    }
    .part-1 {
        display: grid;
        grid-template-columns: 1.1fr 0.9fr;
        align-items: center;
        gap: 2rem;
        padding-left: 4rem;
    }
    #part-1 {
        text-align: left;
    }
    #part-1 > h2 {
        font-size: 2.8rem;
    }
    .img-2 {
        order: 2;
        margin: 0;
    }
    .img-2 > img {
        width: 90%;
    }
    .line-1, .line-2 {
        font-size: 1.2rem;
        margin-right: 5rem;
    }
    .see-how {
        margin-top: 1rem;
        justify-content: flex-start;
    }
    .link {
        text-align: left;
        font-size: 1.2rem;
    }
    article {
        margin: 0 42.5% 0 0;
        padding-left: 2.5rem;
    }
    blockquote {
        font-size: 1.05rem;
        margin-right: 1rem;
    }
    .avatar-img > img {
        width: 2.5rem;
    }
    h3 {font-size: 0.95rem;}
    h4 {font-size: 0.7rem;}
    .part-2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        text-align: left;
        padding: 6rem 4rem 3rem;
    }
    .part-2 > section > h2 {
        font-size: 2.2rem;
    }
    .part-2 > section > p {
        font-size: 1.15rem;
        margin-right: 3.7rem;
    }
    .sign-up > input {
        padding: 1.1rem;
        margin-bottom: 1.2rem;
        margin-left: 8rem;
        width: 30rem;
    }
    .sign-up > button {
        padding: 1.1rem;
        margin-left: 8rem;
        width: 13.5rem;
        font-size: 0.85rem;
    }
    footer {
        padding-top: 6.5rem;
        padding-bottom: 3rem;
    }
    .footer-logo {
        margin-left: 2rem
    }
    .footer-logo > img {
        width: 12rem;
    }
    .footer-details {
        display: grid;
        grid-template-columns: 1.3fr 0.7fr 0.7fr 1fr;
        gap: 2.5rem;
        margin-left: 2rem;
    }
    .phone {
        margin-bottom: 1.4rem;
        font-size: 1.15rem;
    }
    .email {font-size: 1.15rem;}
    .list-1 {
        margin: 0;
        font-size: 1.15rem;
    }
    .list-2 {
        margin: 0;
        font-size: 1.15rem;
    }
    .icons {text-align: left;}
}